<%- include('../partials/head.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>

    <%- include('../partials/nav.ejs') %>

        <div id="details">
            <div class="product">
                <div id="carouselExampleDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="<%= product.coverImg %>" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="<%= product.img1 %>" class="d-block w-100" alt="">
                        </div>
                        <div class="carousel-item">
                            <img src="<%= product.img2 %>" class="d-block w-100" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="button-product">
                    <label>
                        <%= product.brand %>
                    </label>
                    <h5>
                        <%= product.productName %>
                    </h5>
                    <p class="price" data-product-price="<%= product.price %>"></p>
                    <button class="btn-add-cart" data-id="<%= product._id %>">Thêm vào giỏ hàng</button>
                    <p>Danh mục: <%= product.type %>
                    </p>
                    <p class="description">
                        <%= product.description %>
                    </p>
                </div>
            </div>
        </div>
        <div id="toast"></div>

        <%- include('../partials/footer.ejs') %>
<script>
    const price = document.querySelector('.price')
    price.innerText = (price.getAttribute('data-product-price') - 0).toLocaleString() + ' đ'

    const btnAddCart = document.querySelector('.btn-add-cart')
    btnAddCart.onclick = () => {
        const productId = btnAddCart.getAttribute('data-id')
        $.ajax({
            url: '/cart/add/?productId=' + productId,
            method: 'GET',
            success: (res) => {
                if (res == 'OK') {
                    showSuccess()
                } else {
                    window.location.href = '/auth/login'
                }
            },
            error: (err) => {
                showWarning()
                console.log(err)
            }
        })
    }


    function toast({ title = '', message = '', type = '', duration = 3000 }) {
        const main = document.querySelector('#toast')
        if (main) {
            const icons = {
                success: 'bx bxs-check-circle',
                info: 'bx bxs-info-circle',
                warning: 'bx bxs-error-circle'
            }
            const toast = document.createElement('div')
            toast.style.animation = `slideOut ease .4s, slideIn ease 1s ${duration / 1000}s forwards`
            toast.classList.add('toast', `toast--${type}`)
            toast.innerHTML = `
                            <i class='toast_icon ${icons[type]}'></i>
                            <div class="toast_body">
                            <p class="toast_title">${title}</p>
                            <p class="toast_message">${message}</p>
                            </div>
                            <i class='toast_close bx bx-x'></i>`
            main.appendChild(toast)

            let removeId = setTimeout(() => {
                main.removeChild(toast)
            }, duration + 900);

            toast.onclick = (e) => {
                if (e.target.closest('.toast_close')) {
                    main.removeChild(toast)
                    clearTimeout(removeId)
                }
            }
        }
    }

    function showSuccess() {
        toast({
            title: 'Thành công',
            message: 'Đã thêm vào giỏ hàng',
            type: 'success',
            duration: 1500
        })
    }

    function showWarning() {
        toast({
            title: 'Thất bại',
            message: 'Thêm vào giỏ hàng thất bại',
            type: 'warning',
            duration: 3000
        })
    }
</script>