<%- include('../partials/head.ejs') %>
   
<%- include('../partials/nav.ejs') %>

<h4 style="text-align: center; margin-top: 20px;">Kho</h4>
    <div id="product-store">
        <div class="action">
          <div>
            <a href="/store/product">Kho</a>
          </div>
          <div>
            <a href="/store/product/pending">Sản phẩm chờ duyệt</a>
          </div>
          <div>
            <a href="/store/product/block">Sản phẩm bị khóa</a>
          </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ảnh bìa</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Đã bán</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product => { %>
                <tr>
                    <td style="width: 100px;">
                      <img src="<%= product.coverImg %>" alt="">
                    </td>
                    <td><%= product.productName %></td>
                    <td><%= product.price * ( 100 - product.discount) / 100  %></td>
                    <td><%= product.sold %></td>
                    <td><%= product.quantity%></td>
                    <td>
                        <a href="/product/details/<%= product.slug %>.<%= product._id %>"><button type="button" class="btn btn-primary">Xem</button></a>
                        <a href="/store/product/edit/<%= product.slug %>"><button type="button" class="btn btn-success">Sửa</button></a>
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </td>
                </tr>
                <% }) %>  
            </tbody>
          </table>
    </div>

    <%- include('../partials/footer.ejs') %>