<%- include('../partials/head.ejs') %>
    <script src="/js/jquery.js"></script>
</head>

    <body>
        <header class="scroll" style="position: fixed;">
            <div class="logo"><a href="/">LazaPee</a></div>
        </header>


        <div id="banner">
            <div>Mua và Bán</div>
            <div class="bg">DÀNH RIÊNG CHO GIỚI TRẺ</div><br>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm..." id="search-input" class="search-input">
            </div>
            <div id="search-value">
            </div>
        </div>

        <main id="main">
            <div class="container">
                <div class="header">
                    <select class="form-select" id="select-options">jj
                        <option value="all">All</option>
                        <option value="shoes">Giày</option>
                        <option value="clothes">Quần áo</option>
                        <option value="accessory">Phụ kiện</option>
                        <option value="other">Khác</option>
                    </select>

                    <select class="form-select" id="sort-products">
                        <option value="new">Mới - cũ</option>
                        <option value="old">Cũ - mới</option>
                        <option value="asc">Giá thấp - cao</option>
                        <option value="desc">Giá cao - thấp</option>
                    </select>
                </div>

                <div class="content-list-product" id="content-list-product">
                    <% products.forEach(item=> { %>
                        <div class="product-item">
                            <a href="/product/details/<%= item.slug %>">
                                <div class="product-img">
                                    <img src="<%= item.coverImg %>" alt="">
                                </div>
                                <div class="product-content">
                                    <div class="product-name">
                                        <%= item.productName %>
                                    </div>
                                    <div class="product-price"
                                        data-price="<%= item.price * ( 100 - item.discount) / 100 %>"></div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                </div>
            </div>
            <div class="load-page">
                <button id="load-page">
                    Xem thêm sản phẩm
                </button>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

        <script src="/js/home.js"></script>