<%- include('../partials/head.ejs') %>
   
<%- include('../partials/nav.ejs') %>

    <div id="product-store" style="margin: 10px auto;max-width: 1100px;">
        <h3 style="text-align: center">Quản lý sản phẩm</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ảnh bìa</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Đã bán</th>
                <th scope="col">Tồn kho</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product => { %>
                <tr>
                    <td><img src="<%= product.coverImg %>" alt=""></td>
                    <td><%= product.productName %></td>
                    <td><%= product.price * ( 100 - product.discount) / 100  %></td>
                    <td><%= product.sold %></td>
                    <td><%= product.quantity%></td>
                    <td id="status-<%= product.slug %>"><%= product.status%></td>
                    <td>
                        <a href="/product/details/<%= product.slug %>"><button type="button" class="btn btn-outline-primary">Xem lại</button></a>
                        <button type="button" class="btn btn-outline-warning admin-product block" data-slug="<%= product.slug %>">Khóa sản phẩm</button>
                        <button type="button" class="btn btn-outline-success admin-product accept" data-slug="<%= product.slug %>">Mở khóa</button>
                    </td>
                </tr>
                <% }) %>  
            </tbody>
          </table>
    </div>
    <div id="toast"></div>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/toast.js"></script>
        <script src="/js/jquery.js"></script>
        <script>
            const btnAdmin = document.querySelectorAll('.admin-product')
            btnAdmin.forEach(btn => {
                btn.addEventListener('click', e => {
                    const slug = e.target.dataset.slug
                    let url = '/admin/product/'
                    if(e.target.classList.contains('accept')){
                        url += 'accept'
                    }else if(e.target.classList.contains('block')){
                        url += 'block'
                    }
                    url += '/' + slug
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: res => {
                        if (res == 'OK') {
                          let status = document.querySelector('#status-' + slug)
                          let toastMessage = {
                              title: 'Mở khóa',
                              message: 'Đã mở khóa sản phẩm',
                              type: 'success',
                              duration: 1500
                          }
                          if(e.target.classList.contains('accept')){
                            status.innerHTML = 'accept'
                          } else if(e.target.classList.contains('block')){
                            toastMessage.title = 'Khóa'
                            toastMessage.message = 'Đã khóa sản phẩm'
                            status.innerHTML = 'block'
                          } 
                          toast(toastMessage)
                        } else {
                            toast({
                                title: 'Thất bại',
                                message: 'Đã xãy ra lỗi',
                                type: 'warrning',
                                duration: 1500
                            })
                        }
                    },
                    error: err => {
                        toast({
                            title: 'Thất bại',
                            message: err,
                            type: 'error',
                            duration: 1500
                        })
                    }
                })
            })
        })
    </script>