<%- include('../partials/head.ejs') %>
<script src="/js/jquery.js"></script>
<style>

    #product-store {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px auto;
        min-height: 80vh;
    }

    .action {
        margin: 40px 10px 0 0;
    }
    .action div{
        height: 50px;
        width: 200px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .action div a {
        text-decoration: none;
    }
</style>
<%- include('../partials/nav.ejs') %>

<h4 style="text-align: center; margin-top: 20px;">Sản phẩm chờ duyệt</h4>
    <div id="product-store">
        <div class="action">
            <div>
                <a href="/ordered/pending">Đơn hàng chờ duyệt</a>
            </div>
            <div>
                <a href="/ordered/accept">Đơn hàng đang giao</a>
            </div>
            <div>
                <a href="/ordered/reject">Đơn hàng đã hủy</a>
            </div>
            <div>
                <a href="/ordered/received">Đơn hàng đã giao</a>
            </div>
        </div>
        <table class="table" style="max-width: 1100px;">
            <thead>
              <tr>
                <th scope="col">Ảnh bìa</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Tùy chọn</th>
              </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <tr id="<%= order._id %>" >
                        <td style="width: 100px;">
                        <img src="<%= order.coverImg %>" alt="">
                        </td>
                        <td><%= order.productName %></td>
                        <td><%= order.price * ( 100 - order.discount) / 100  %></td>
                        <td><%= order.quantity%></td>
                        <td><%= order.price * ( 100 - order.discount) / 100 * order.quantity %></td>
                        <td data-id="<%= order._id %>" data-productId="<%= order.productId %>">
                            <button type="button" class="btn btn-success btn-accept" >Duyệt</button>
                            <button type="button" class="btn btn-danger btn-reject" >Hủy</button>
                        </td>
                    </tr>
                <% }) %>  
            </tbody>
          </table>
    </div>

<%- include('../partials/footer.ejs') %>
<script>
    const btnAccept = document.querySelectorAll('.btn-accept')
    const btnReject = document.querySelectorAll('.btn-reject')
    btnAccept.forEach(btn => {
        btn.addEventListener('click', (e) => {
            const id = e.target.parentElement.dataset.id
            const productId = e.target.parentElement.dataset.productId
            const url = `/ordered/accept/?id=${id}&productId=${productId}`
            $.ajax({
                url: url,
                method: 'PATCH',
                success: (res) => {
                    if(res == 'OK') {
                        document.getElementById(id).remove()
                    }
                },
                error: (err) => {
                    console.log(err)
                }
            })

        })
    })
</script>